<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gzbankApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38A8820A213ED1CA00800BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A88223213ED1CA00800BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A8822E213ED1CA00800BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
